<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SmartHome.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Defaultconnection" connectionString="Data Source=.;Initial Catalog=SmartHouse;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="RouteDebugger:Enabled" value="false" /></appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <SmartHome.Web.Properties.Settings>
      <setting name="MaxNumberPins" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ServerIp" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ReceiverIp" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="TimeToCheckTemp" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TimeToSendTemp" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MaxArraySizeSensors" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MaxArraySizeTermostats" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="HousesPathImages" serializeAs="String">
        <value>/Content/Images/Houses/</value>
      </setting>
      <setting name="DefaultHouseImage" serializeAs="String">
        <value>DefaultHouse.jpg</value>
      </setting>
      <setting name="MinTempAlert" serializeAs="String">
        <value>-20</value>
      </setting>
      <setting name="MaxTempAlert" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="MinTempThermostat" serializeAs="String">
        <value>-2</value>
      </setting>
      <setting name="MaxTempThermostat" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="NumberOfRecentTemp" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>8080</value>
      </setting>
    </SmartHome.Web.Properties.Settings>
  </applicationSettings>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>